/* Empty. Add your own CSS if you like */
.splash {
	background: url(../img/thegraybg.jpg) no-repeat 
	center center fixed;

	-webkit- background-size: cover;
	-moz- background-size: cover;
	-o- background-size: cover;
	background-size: cover;
}

.branding {
	width: 50%;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.bar-dark, .tabs-dark>.tabs {
	background-color: #080808 !important;
}
